<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZjI6RuZGhMVGAxnVnpgIl5KXA3TE78YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>514921819060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Panpi.MyReceiptKeeper</string>
	<key>PROJECT_ID</key>
	<string>myreceiptkeeper-7e377</string>
	<key>STORAGE_BUCKET</key>
	<string>myreceiptkeeper-7e377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514921819060:ios:49cb045520cb5156da20e1</string>
</dict>
</plist>